<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{>navbar}}

  <!-- main content staart here -->
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side div -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
              <img src="images/myimage1.jpg" alt="myimg" class="img-fluid" title="Faruk Akhai">
            </figure>
          </div>
           <!-- right side div -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Hello,I Am MohamadFaruk Akhai</p>
            <h1>I Am A<span class="text_clr"> Software Enginner</span> And Mern Stack Developer.</h1>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <!-- main content ends here -->

  <!-- footer code -->
  {{>footer}}
</body>

</html>