<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main content start here -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form  class="temp_form">
                        <input type="text"  id="cityName" placeholder="Enter Your City Name" autocomplete="off">
                        <input type="submit" value="Search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p>
                        <p id="today_date">8 june</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">output</p>  
                    <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- main content ends here -->

    {{>footer}}
    <script src="js/main.js"></script>
    <script>
        const getCurrentDay = ()=>{
            let weekday = new Array(7);
            weekday[0]= "Sunday";
            weekday[1]= "Monday";
            weekday[2]= "Tuesday";
            weekday[3]= "wednesday";
            weekday[4]= "Thursday";
            weekday[5]= "Friday";
            weekday[6]= "Saturday";
            let CurrTime = new Date();
            let days = weekday[CurrTime.getDay()];
            let day =document.getElementById('day');
            day.innerText = days;
        };
        getCurrentDay();

        const getCurrentMonth = ()=>{
            let Month = [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "June",
            "July",
            "Aug",
            "Sept",
            "Oct",
            "Nov",
            "Dec",
            ];
            let CurrDate = new Date();
            let month = Month[CurrDate.getMonth()];
            let day = CurrDate.getDate();
            let today_date = document.getElementById('today_date');
            today_date.innerText = day+" "+month;
        }
        getCurrentMonth();
    </script>
</body>

</html>